<button @onclick="OnClickCallback" class="@classes">
    @ChildContent
</button>

@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; } = EventCallback.Empty;
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public string Color { get; set; } = "bg-blue-500 hover:bg-blue-600 text-white";

    public string classes => $"px-3 py-2 font-medium bg-blue-500 rounded-full {Color}";
}
