@page "/"
@using Tweeter.Shared.Models
@using Post = Tweeter.Client.Shared.Post
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<div class="w-screen ">
   <div class="border-x border-slate-800 w-full min-h-screen mx-auto max-w-lg">
      <div class="p-4">
         <AuthorizeView>
            <Authorized>
               <Header></Header>
            </Authorized>
            <NotAuthorized>
               <a class="text-blue-400" href="/login">Login</a> to post
            </NotAuthorized>
         </AuthorizeView>
      </div>
      <div class="border-t border-slate-800 w-full">
         @if (postsResponse != null)
         {
            @foreach (var post in postsResponse.Posts)
            {
               <Post PostData="post"></Post>
            }
         } else
         {
            <div class="text-center text-slate-400 p-4">Loading...</div>
         }
      </div>
   </div>
</div>

@code {
   private PostsResponse postsResponse;
   
   protected override async Task OnInitializedAsync()
   {
      postsResponse = await Http.GetFromJsonAsync<PostsResponse>("api/post");
   }
}


