@page "/"

<PageTitle>Index</PageTitle>

<div class="w-screen ">
   <div class="border-x border-slate-800 w-full min-h-screen mx-auto max-w-lg">
      <div class="p-4">
         <AuthorizeView>
            <Authorized>
               <Header></Header>
            </Authorized>
            <NotAuthorized>
               <a class="text-blue-400" href="/login">Login</a> to post
            </NotAuthorized>
         </AuthorizeView>
      </div>
      <div class="border-t border-slate-800 w-full">
         <Post></Post>
      </div>
   </div>
</div>



