@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider

<Button OnClickCallback="HandleLogout" >Logout</Button>

@code {

    private void HandleLogout()
    {
        LocalStorageService.RemoveItemAsync("token");
        AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

}